* {
    font-family: 'Century Gothic', Helvetica, sans-serif;
    color: rgb(1, 39, 70);
    /*background: rgb(2, 17, 24);*/
}

h1 {
    text-align: center;
    color: white;
}

#main-nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    padding: 10px;
    background-image: linear-gradient(to right, silver, rgb(26, 133, 221));
}

#main-nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
#main-nav a:hover {
    background: #ddd;
}

.home {
    margin-top: 200px; /* Add a top margin to avoid content overlay */
}

/* .logo {
    width: 200px;
    display: block;
    margin: auto;

    /* Center and scale the image nicely */
/*     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the container/navbar */
 /*    position: relative;
} */

#header {
    margin: 0px;
    border: 0px;
    padding: 60px;
    /*background-image: url(../images/logo.jpeg);*/
    /*background-repeat: no-repeat;*/
   /* background-size: contain;*/
}

#menu-outer {
	height: 84px;
}

#menu-outer a:hover {
    background:  rgb(26, 133, 221);
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
    text-align: center;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
}

ul#horizontal-list li {
	display: inline;
}

.row {
    display: flex;
}
  
.column {
    flex: 50%;
}

.column-left {
    padding: 10px;
}

.column-right {
    padding: 20px;
    text-align: justify;
    font-size: larger;
}

.skills {
    padding: 30px;
    text-align: center;
    font-size: larger;
}

.me {
    width: 300px;
}

.journal img {
    width: 300px;
}

.vertical-centerer {
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

.flex-container div {
    /* background: peachpuff;
    border: 4px solid brown;
    height: 100px; */
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.padding {
    padding: 30px;
}

.header-content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    margin: 0px;
    padding: 0px;
    list-style: none;
    list-style-type: none;
}

.menu > li {
    display: inline;
    margin-left: 37.5px;
}

/* The footer bar */
.footer {
    /* position: fixed; */ /* Set the footer to fixed position */
    bottom: 0; /* Position the footer at the bottom of the page */
    width: 100%; /* Full width */
    background-image: linear-gradient(to right, silver, rgb(26, 133, 221));
    color: white;
    text-align: center;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
}

.footer li {
   /* float: left; */
   display:inline-block;
}
  
.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
.footer li a:hover {
    background-color: #111111;
}